<mat-toolbar class="mat-elevation-z5" color="primary">
  <a href="#">Karthick Laxman Angular Ex's</a>
  <span class="spacer"></span>
  <div class="loginSection">
    <button mat-button>
      Login
    </button>
  </div>
</mat-toolbar>

<mat-tab-group dynamicHeight>
  <mat-tab label="Welcome">
    <div class="example-small-box mat-elevation-z4">
      Welocme!

    </div>
  </mat-tab>
  <mat-tab label="1 & 2 Ex">
    <div class="example-large-box mat-elevation-z4">
      <app-users>

      </app-users>
    </div>
  </mat-tab>
  <mat-tab label="3rd Ex">
    <div class="example-large-box3 mat-elevation-z4">

      <app-ex3>

      </app-ex3>
    </div>
  </mat-tab>

  <mat-tab label="7th Ex">
    <div class="example-large-box5 mat-elevation-z4">

      <app-ex7>

      </app-ex7>
    </div>
  </mat-tab>
</mat-tab-group>
